# Overview

This charm provides the Astara network orchestration service for OpenStack clouds.

Astara aims to simplify networking in OpenStack clouds by removing the need for complex controllers and gateway nodes, offloading routing, loadbalancing and other advanced networking serivces onto
the cloud itself.  It does this by virtualizing network functions and orchestrating them as VNFs running on Nova.  For more information see https://wiki.openstack.org/wiki/Astara.

# Usage

This charm is a subordinate to the neutron-api charm.  It also requires the deploynment of the astara-orchestrator subordinate charm alongside nova-compute.  It eliminates the need for
the neutron-gateway charm as routing L3 routing is now handled by the compute tier.

The astara-neutron-api charm has several core functions:

    * Install the astara-neutron Neutron ML2 plugin and API extensions and configure the principal service to use them.
    * Create or find the management tenant network and external networks in Neutron.
    * Publish Astara appliance image(s) into Glance.
    * Coordinate the configuration of these resources in the astara-orchestrator service.

Step by step instructions on using the charm.  This assumes the keystone, neutron-api, glance services have already been deployed.

    juju deploy astara-neutron-api
    juju deploy astara-orchestrator
    juju add-relation astara-neutron-api neutron-api
    juju add-relation astara-neutron-api keystone
    juju add-relation astara-neutron-api glance
    juju add-relation astara-orchestrator nova-compute
    juju add-relation astara-orchestrator astara-neutron-api

After a successful deployment, you should note that a Neutron tenant network has been created for use by Astara and at least one appliance image has been published into Glance.

# Configuration

The charm follows the rest of the OpenStack charm standards as far as configuring installation sources via the openstack-origin or openstack-origin-git settings.

The management-network-cidr and management-network-name configure the name and CIDR for the management tenant network.  This is a isolated Neutron tenant network scoped to the service tenant, which Astara uses to communicate between its orchestration service and appliance VMs.

The external-network-cidr and external-network-name should match an existing external network created in Neutron, or specify the values for one to be created.

astara-router-appliance-url is set to a URL location of a built Astara appliance VM image.  The default is the tip-of-trunk image that is archived as a build artifact upstream.  You should ensure the URL configured here is accessible by the charm via http-proxy or local mirror.

# Contact Information

Astara: https://wiki.openstack.org/wiki/Astara
Akanda, Inc: http://akanda.io
Charm Maintainer and upstream PTL: Adam Gandelman <adamg@ubuntu.com>
